* { padding: 0; margin: 0; }

body {
 background: url(escheresque.png);
 font-family: Geneva, Arial, Helvetica, sans-serif;
 font-size: 12px;
}

.subtitle_yellow {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	color: #001a4d;
	text-decoration: none;
	font-size: 24px;
}

.subtitle_yellow_small {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	color: #001a4d;
	text-decoration: none;
	font-size: 18px;
	font-style: normal;
	text-transform: uppercase;
}

.subtitle_grey {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	font-size: 24px;
}

.subtitle_grey_small {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	font-size: 18px;
	font-style: normal;
	text-transform: uppercase;
}

.subtitle_red {
	font-family: 'Archivo Narrow', sans-serif;
	font-weight: normal;
	color: #CC0000;
	text-decoration: none;
	font-size: 18px;
}

.stress {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bolder;
	font-variant: normal;
	color: #333333;
}

.quote {
	font-family: 'Lancelot', cursive;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
	font-size: 18px;
}

a:link {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #CC9900;
	text-decoration: none;
}


a:visited {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #CC9900;
	text-decoration: none;
}


ul {
    list-style-position:inside;
    list-style-type:square;
}

#wrapper { 
 margin: 0 auto;
 width: 1020px;
 background: #FFFFFF;
}

#header {
 width: 1020px;
 height: 130px;
 background: url(QUEST_images/SBQMI_QuEST_banner.png);
}


#columns {
 margin-bottom: 0px;
 overflow: auto; /* Paul O Brien Fix for IE www.pmob.co.uk */
 column-gap: 10 px;
 width: 100%;
 background: #FFFFFF;
}


#navigation-container {
	position:relative;z-index:99;
    background: #FFFFFF;
	padding: 0px;
}

#navbar {
	margin: 0;
	padding: 0;
	height: 10px; }
	
#navbar li {
	list-style: none;
	float: right;
	background-color: #F5F5F5; }
	
#navbar li a {
	display: block;
	width: 182px;
	padding: 3px 11px;
	background-color: #F5F5F5;
	color: #696969;
	text-decoration: none;
	text-align: center;
	font-size: 11px;
 }
 
#navbar li:hover > a {
    background: #F5F5F5;
    color: #CC0000;
}
	
	#navbar li ul {
	display: none; 
	width: 10em; /* Width to help Opera out */
	background-color: #FFFFFF;}
	
	#navbar li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0; }
	
#navbar li:hover li {
	float: none; }
	
#navbar li:hover li a {
	background-color: #F5F5F5;
	border-bottom: 1px solid #fff;
	color: #696969; }
	
#navbar li li a:hover {
	background-color: #FFFFFF; }



#imageContainer { height:169px; }  

#imageContainer img { display:none; 	
			position:absolute; 	
			top:0px; left:0px; 	
			height:169px;  	
			width:1020px; 	
			opacity: -0.01; 
} 


#leftcolumn { 
 float: left;
 display: inline;
 color: #333333;
 margin: 15px;
 padding: 20px;
 width: 670px;
}

#rightcolumn { 
 float: left;
 display: inline;
 color: #333333;
 margin: 15px;
 padding: 0px;
 width: 250px;
 position: relative;
}


#footer { 
 width: 1000px;
 clear: both;
 color: #999999;
 background: #FFFFFF;
 margin: 0px 0px 10px 0px;
 padding: 10px;
 border-top-width: 1px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #333333333333;
}
.clear { clear: both; background: none; }

.border {
	border: 1px dotted #333333;
}